
@font-face {font-family: "cloudicon";
    src: url('cloudicon.eot'); /* IE9*/
    src: url('cloudicon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('cloudicon.woff') format('woff'), /* chrome, firefox */
    url('cloudicon.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('cloudicon.svg#cloudicon') format('svg'); /* iOS 4.1- */
}

.cloudicon {
    font-family:"cloudicon" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.ci_fav_solid:before { content: "\e600"; }
.ci_unfulls:before { content: "\e601"; }
.ci_fulls:before { content: "\e602"; }
.ci_valid:before { content: "\e603"; }
.ci_user:before { content: "\e604"; }
.ci_user_solid:before { content: "\e605"; }
.ci_unvalid:before { content: "\e606"; }
.ci_unread:before { content: "\e607"; }
.ci_unlock:before { content: "\e608"; }
.ci_sys_more:before { content: "\e609"; }
.ci_sys_logo:before { content: "\e60a"; }
.ci_stat_sys:before { content: "\e60b"; }
.ci_set:before { content: "\e60c"; }
.ci_search:before { content: "\e60d"; }
.ci_rmb:before { content: "\e60e"; }
.ci_refresh:before { content: "\e60f"; }
.ci_readed:before { content: "\e610"; }
.ci_project_sys:before { content: "\e611"; }
.ci_problem:before { content: "\e612"; }
.ci_position:before { content: "\e613"; }
.ci_plus:before { content: "\e614"; }
.ci_parcel:before { content: "\e615"; }
.ci_notice_solid:before { content: "\e616"; }
.ci_navbar:before { content: "\e617"; }
.ci_more:before { content: "\e618"; }
.ci_modify:before { content: "\e619"; }
.ci_mini:before { content: "\e61a"; }
.ci_lock:before { content: "\e61b"; }
.ci_light:before { content: "\e61c"; }
.ci_land_sys:before { content: "\e61d"; }
.ci_key:before { content: "\e61e"; }
.ci_invest_sys:before { content: "\e61f"; }
.ci_home:before { content: "\e620"; }
.ci_home_solid:before { content: "\e621"; }
.ci_dollar:before { content: "\e622"; }
.ci_delect:before { content: "\e623"; }
.ci_corp_sys:before { content: "\e624"; }
.ci_corp:before { content: "\e625"; }
.ci_attention:before { content: "\e626"; }
.ci_arrow_up:before { content: "\e627"; }
.ci_arrow_right:before { content: "\e628"; }
.ci_arrow_left:before { content: "\e629"; }
.ci_arrow_down:before { content: "\e62a"; }
.ci_area:before { content: "\e62b"; }
.ci_absleaf:before { content: "\e62c"; }
.ci_absleaf_solid:before { content: "\e62d"; }
.ci_map_sys:before { content: "\e62e"; }
.ci_fav:before { content: "\e62f"; }
.ci_notice:before { content: "\e630"; }
.ci_workinfo:before { content: "\e631"; }
.ci_history:before { content: "\e632"; }
.ci_certificate_check:before { content: "\e633"; }
.ci_progress:before { content: "\e634"; }
.ci_property:before { content: "\e635"; }
.ci_factory:before { content: "\e636"; }
.ci_clear:before { content: "\e637"; }
.ci_save:before { content: "\e638"; }
.ci_map_add:before { content: "\e65c"; }
.ci_map_check:before { content: "\e639"; }
.ci_map_edit:before { content: "\e63a"; }
.ci_lay_solid:before { content: "\e63b"; }
.ci_lay:before { content: "\e63c"; }
.ci_flag_solid:before { content: "\e63d"; }
.ci_flag:before { content: "\e63e"; }
.ci_project:before { content: "\e63f"; }
.ci_filter:before { content: "\e640"; }
.ci_move_solid:before { content: "\e641"; }
.ci_move:before { content: "\e642"; }
.ci_piece_solid:before { content: "\e643"; }
.ci_piece:before { content: "\e644"; }
.ci_zoomout:before { content: "\e645"; }
.ci_zoomin:before { content: "\e646"; }
.ci_global_solid:before { content: "\e647"; }
.ci_global:before { content: "\e648"; }
.ci_ruler_solid:before { content: "\e649"; }
.ci_ruler:before { content: "\e64a"; }
.ci_eraser_solid:before { content: "\e64b"; }
.ci_eraser:before { content: "\e64c"; }
.ci_mapback:before { content: "\e64d"; }
.ci_light2:before { content: "\e64e"; }
.ci_click_solid:before { content: "\e64f"; }
.ci_click:before { content: "\e650"; }
.ci_rights:before { content: "\e651"; }
.ci_certificate:before { content: "\e652"; }
.ci_patent:before { content: "\e653"; }
.ci_process:before { content: "\e654"; }
.ci_building:before { content: "\e655"; }
.ci_power:before { content: "\e656"; }
.ci_total:before { content: "\e657"; }
.ci_environ:before { content: "\e658"; }
.ci_taxes:before { content: "\e659"; }
.ci_industry:before { content: "\e65a"; }
.ci_mapback_solid:before { content: "\e65b"; }
.ci_back:before { content: "\e65d"; }
.ci_user_circle:before { content: "\e65e"; }
.ci_usergroup:before { content: "\e65f"; }
.ci_news:before { content: "\e660"; }
.ci_exit:before { content: "\e661"; }
.ci_xls:before { content: "\e662"; }
.ci_doc:before { content: "\e663"; }
.ci_pdf:before { content: "\e664"; }
.ci_personal_location:before { content: "\e665"; }
.ci_parcel_location:before { content: "\e666"; }
.ci_tel:before { content: "\e667"; }
.ci_kpi:before { content: "\e668"; }
.ci_court:before { content: "\e669"; }
.ci_istat:before { content: "\e66a"; }
.ci_email:before { content: "\e66b"; }
.ci_contact:before { content: "\e66c"; }
.ci_share:before { content: "\e66d"; }
.ci_nearby:before { content: "\e66e"; }
.ci_qq:before { content: "\e66f"; }
.ci_wechat:before { content: "\e670"; }
.ci_recovery:before { content: "\e671"; }
.ci_google:before { content: "\e672"; }
.ci_circle:before { content: "\e673"; }
.ci_collection_sys:before { content: "\e674"; }
.ci_download:before { content: "\e675"; }
.ci_upload:before { content: "\e676"; }
.ci_file_copy:before { content: "\e677"; }
.ci_file_empty:before { content: "\e678"; }
.ci_file_view:before { content: "\e679"; }
.ci_gis:before { content: "\e67a"; }
.ci_creative_sys:before { content: "\e67b"; }
.ci_baidu:before { content: "\e67c"; }
.ci_set_sys:before { content: "\e67d"; }
.ci_multiple_sys:before { content: "\e67e"; }
.ci_modset:before { content: "\e67f"; }
.ci_quotaset:before { content: "\e680"; }
.ci_userset:before { content: "\e681"; }
.ci_modmenu:before { content: "\e682"; }
.ci_table:before { content: "\e683"; }
.ci_host:before { content: "\e684"; }
.ci_datainfo:before { content: "\e685"; }
.ci_file_add:before { content: "\e686"; }
.ci_refreshed:before { content: "\e687"; }
.ci_email_add:before { content: "\e688"; }
.ci_fours_sys:before { content: "\e689"; }
.ci_rights_sys:before { content: "\e68a"; }
.ci_email_solid:before { content: "\e68b"; }