.ui-slider {
	padding-top: 39.065%;
}
.ui-slider-indicators li {
	background-color: #fff;
	border-color: #fff;
	opacity: .3;
}
.ui-slider-indicators {
	right: 10px;
	bottom: 5px;
}
.ui-slider-indicators li.current {
	opacity: 1;
}









